layout {
    cwd "/Users/bgladwell/dev/spx"
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="astrology" cwd="astrology" {
        pane split_direction="vertical" focus=true {
            pane command="nvim"
            pane stacked=true {
                pane expanded=true
                pane name="uvicorn" {
                  command "bash"
                  args "-c" "REDIS_URL=redis://localhost:6379/2 DATABASE_PORT=5432 doppler run -- uv run start_api"
                  start_suspended true
                }
                pane name="dramatiq" {
                  command "bash"
                  args "-c" "REDIS_URL=redis://localhost:6379/2 DATABASE_PORT=5432 ASTROLOGY_PIDS_PATH=../rcis-workspace/storage/ doppler run -- uv run start_worker"
                  start_suspended true
                }
                // No docker - we're always running this out of workspace
            }
        }
    }
    tab name="workspace" cwd="rcis-workspace" {
        pane split_direction="vertical" focus=true {
            pane command="nvim"
            pane stacked=true {
                pane expanded=true
                pane name="Servers" {
                  command "overmind"
                  args "start" "-f" "Procfile.debug"
                  start_suspended true
                }
                pane name="Log" {
                  command "tail"
                  args "-f" "log/development.log"
                }
                pane name="Docker" {
                  command "docker"
                  args "compose" "up" "postgres" "redis"
                  start_suspended true
                }
            }
        }
    }
    tab name="sage" cwd="sage" {
        pane split_direction="vertical" focus=true {
            pane command="nvim"
            pane stacked=true {
                pane expanded=true
                pane name="Tilt" {
                  command "/opt/homebrew/bin/tilt"
                  args "up" "--" "--web-debug-port=38698" "--jobs-debug-port=38699"
                  start_suspended true
                }
            }
        }
    }
    tab name="workspace-ops" cwd="workspace-ops" {
        pane split_direction="vertical" focus=true {
            pane command="nvim"
            pane stacked=true {
                pane expanded=true
                pane name="Docker" {
                  command "docker"
                  args "compose" "up"
                  start_suspended true
                }
                pane name="Servers" {
                  command "bash"
                  args "-c" "PORT=3002 overmind start -f Procfile.dev"
                  start_suspended true
                }
            }
        }
    }
}
